.container {
  display: flex;
  padding: 4.3rem 15rem;
  column-gap: 15rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 4rem;
  font-weight: 600;
}

.info-text {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 10rem;
}

.result-btn {
  display: inline-block;
  color: rgba(107, 104, 104, 1);
  font-size: 3.7rem;
  font-weight: 600;
  background-color: rgba(255, 209, 219, 1);
  padding: 1.5rem 4.4rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}
