.container {
  display: flex;
  padding: 4.3rem 15rem;
  column-gap: 15rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 4rem;
  font-weight: 600;
}

.info-text {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 10rem;
}
