.header {
    color: rgba(107, 104, 104, 1);
    font-size: 3.7rem;
    font-weight: 600;
    background-color: rgba(255, 209, 219, 1);
    padding: 2.4rem 2.5rem;
    width: max-content;
    border-radius: 2rem;
    margin: 0 auto;
}