.images {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70rem;
    min-height: 70rem;
}

.img-holder {
    padding: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    width: max-content;
    background-color: #fff;
}

.img1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 3;
}

.img2 {
    position: absolute;
    left: 0;
    top: 8rem;
    z-index: 2;
}

.img3 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}